<div style="padding: 1em;">
  <h2 class="text-muted">Dashboard <small>Recruitment Overview</small></h2> 
  
  <div class="row">
      <div class="col-xl-3 col-lg-6">
          <div class="card text-white bg-info">
              <div class="card-header">
                  <div class="row">
                      <div class="col col-xs-3">
                          <i class="fa fa-folder-open fa-5x"></i>
                      </div>
                      <div class="col col-xs-9 text-right">
                          <div class="d-block huge">10</div>
                          <div class="d-block">Open Candidates</div>
                      </div>
                  </div>
              </div>
              <div class="card-footer">
                  <span class="float-left">View Details </span>
                  <a href="javascript:void(0)" class="float-right card-inverse">
                      <span ><i class="fa fa-arrow-circle-right"></i></span>
                  </a>
              </div>
          </div>          
      </div>

      <div class="col-xl-3 col-lg-6">
          <div class="card text-white bg-warning">
              <div class="card-header">
                  <div class="row">
                      <div class="col col-xs-3">
                          <i class="fa fa-calendar fa-5x"></i>
                      </div>
                      <div class="col col-xs-9 text-right">
                          <div class="d-block huge">10</div>
                          <div class="d-block">Today's Interviews</div>
                      </div>
                  </div>
              </div>
              <div class="card-footer">
                  <span class="float-left">View Details </span>
                  <a href="javascript:void(0)" class="float-right card-inverse">
                      <span ><i class="fa fa-arrow-circle-right"></i></span>
                  </a>
              </div>
          </div>          
      </div>

      <div class="col-xl-3 col-lg-6">
          <div class="card text-white bg-primary">
              <div class="card-header">
                  <div class="row">
                      <div class="col col-xs-3">
                          <i class="fa fa-check-circle fa-5x"></i>
                      </div>
                      <div class="col col-xs-9 text-right">
                          <div class="d-block huge">10</div>
                          <div class="d-block">Shortlisted Candidates</div>
                      </div>
                  </div>
              </div>
              <div class="card-footer">
                  <span class="float-left">View Details  </span>
                  <a href="javascript:void(0)" class="float-right card-inverse">
                      <span ><i class="fa fa-arrow-circle-right" style="color:#fff"></i></span>
                  </a>
              </div>
          </div>          
      </div>

      <div class="col-xl-3 col-lg-6">
          <div class="card text-white bg-success">
              <div class="card-header">
                  <div class="row">
                      <div class="col col-xs-3">
                          <i class="fa fa-paper-plane fa-5x"></i>
                      </div>
                      <div class="col col-xs-9 text-right">
                          <div class="d-block huge">10</div>
                          <div class="d-block">Offer Rolled Out</div>
                      </div>
                  </div>
              </div>
              <div class="card-footer">
                  <span class="float-left">View Details </span>
                  <a href="javascript:void(0)" class="float-right card-inverse">
                      <span ><i class="fa fa-arrow-circle-right"></i></span>
                  </a>
              </div>
          </div>          
      </div>

  </div>
</div>