<div class="card bg-secondary text-white  mt-2" *ngIf="action=='add' || action=='edit'">
  <div class="card-header">
    <strong>User</strong>
  </div>
  <div class="card-body bg-light text-dark">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="form-row">
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('firstName')">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
          <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="First Name is required"></app-field-error-display>
        </div>
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('lastName')">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
          <app-field-error-display [displayError]="isFieldValid('lastName')" errorMsg="Last Name is required"></app-field-error-display>
        </div>
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('skypeId')">
          <label for="skypeId">Skype Id</label>
          <input type="text" class="form-control" id="skypeId" formControlName="skypeId" placeholder="Skype Id">
          <app-field-error-display [displayError]="isFieldValid('skypeId')" errorMsg="Skype Id is required"></app-field-error-display>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('gender')">
          <label for="gender">Gender</label><br>
          <input type="radio" name="gender" value="male" formControlName="gender" checked> Male
          <input type="radio" name="gender" value="female" formControlName="gender"> Female
        </div>
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('emailId')">
          <label for="emailId">Email Id</label>
          <input type="text" class="form-control" id="emailId" formControlName="emailId" placeholder="Email Id">
          <app-field-error-display [displayError]="isFieldValid('emailId')" errorMsg="Email Id is required"></app-field-error-display>
        </div>
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('primaryContactNumber')">
          <label for="primaryContactNumber">Contact No</label>
          <input type="text" class="form-control" id="primaryContactNumber" formControlName="primaryContactNumber" placeholder="Contact No.">
          <app-field-error-display [displayError]="isFieldValid('primaryContactNumber')" errorMsg="Contact No. is required"></app-field-error-display>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('secondaryContactNumber')">
          <label for="secondaryContactNumber">Alt. Contact No</label>
          <input type="text" class="form-control" id="secondaryContactNumber" formControlName="secondaryContactNumber" placeholder="Alt. Contact No.">
        </div>
        <div class="form-group col-md-4" [ngClass]="displayFieldCss('password')" *ngIf="action === 'add'" >
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" formControlName="password" placeholder="Password">
          <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Password is required"></app-field-error-display>
        </div>
        <div class="form-group col-md-4 text-left">
          <label for="isActive">Is Active</label>
          <input type="checkbox" class="form-control" id="isActive" formControlName="isActive" style="width:3%">
        </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-4" [ngClass]="displayFieldCss('departmentId')">
              <label for="departmentId">Department</label>
              <select id="departmentId" class="form-control" formControlName="departmentId" name="departmentId">
                <option selected></option>
                <option *ngFor="let department of allDepartmentModel" [value]="department.departmentId">
                  {{ department.departmentName }}
                </option>
              </select>
          </div>

          <div class="form-group col-md-4" [ngClass]="displayFieldCss('designationId')">
              <label for="designationId">Designation</label>
              <select id="designationId" class="form-control" formControlName="designationId" name="designationId">
                  <option selected></option>
                  <option *ngFor="let position of allPositionModel" [value]="position.systemCodeID">
                    {{ position.text }}
                  </option>
                </select>
              <app-field-error-display [displayError]="isFieldValid('designationId')" errorMsg="Designation is required"></app-field-error-display>
          </div>

          <div class="form-group col-md-4" [ngClass]="displayFieldCss('roleId')">
              <label for="roleId">Role</label>
              <select id="roleId" class="form-control" formControlName="roleId" name="roleId">
                <option selected></option>
                <option *ngFor="let Role of allRoleModel" [value]="Role.systemCodeID">
                  {{ Role.text }}
                </option>
              </select>
              <app-field-error-display [displayError]="isFieldValid('roleId')" errorMsg="Role is required"></app-field-error-display>
          </div>

      </div>

      <div class="form-group col-md-12 text-right">
        <button type="button" class="btn btn-" title="Back to Job Posting List" (click)="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
        </button>
        <button type="submit" class="btn btn-success" title="Save Job Posting" [disabled]="!userForm.valid">
          <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card bg-secondary text-white mt-2" *ngIf="action=='list'">
  <div class="card-header">
    <strong>User</strong>
  </div>
  <div class="card-body bg-light text-dark">
    <div *ngIf="action=='list'" class="row">
      <div class="col-md-6 text-left">
        <button type="button" class="btn btn-info" title="Add User" (click)="add()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add
        </button>
      </div>
      <div class="col-md-6 text-right">
        Note:
        <i class="fa fa-check" aria-hidden="true" style="color:red"></i> Yes &nbsp;
        <i class="fa fa-remove" aria-hidden="true" style="color:green"></i> No
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="table-responsive">
          <p-table #dt [columns]="cols" [value]="gridData" [paginator]="true" [rows]="10" [resizableColumns]="true" autoLayout="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                  {{col.header}}
                  <p-sortIcon [field]="col.field" *ngIf="col.header!='Action'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-columns="columns">
              <tr>
                <td>{{ data.firstName }}</td>
                <td>{{ data.lastName }}</td>
                <td>{{ data.emailId }}</td>
                <td>{{ data.skypeId }}</td>
                <td>{{ data.primaryContactNumber }}</td>
                <td style="width: 7em;" class="text-center">
                  <i [ngStyle]="{'color':data.isActive === false ? 'red' : 'green' }" class="fa {{ data.isActive === false ? 'fa-check' : 'fa-remove' }}"
                    title="{{ data.isActive === false ? 'Yes' : 'No' }}" aria-hidden="true"></i>
                </td>
                <td style="width: 6em;" class="text-center">
                  <button type="button" class="btn btn-info btn-sm" title="Edit Job Posting" (click)="edit(data.userId)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-sm" title="Delete Job Posting" (click)="remove(data.userId)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </div>
</div>